body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
h1 {
  color: #333333;
  text-align: center;
  padding-top: 40px;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.artikel {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
h2 {
  color: #333333;
  margin: 0 0 10px;
  text-align: center;
}
p {
  margin: 0;
  text-align: justify;
}
.konten-artikel img{
  width: 250px;
  margin: 10px 35% 10px;
  border: 1px solid;
  border-radius: 5px;
}
.tanggal{
  font-style: italic;
}