h1 {
	text-align: center;
}

ul {
	list-style : none;
	padding-left : 0;

}

li {
	display : inline-block;
}

.Authors{
    display: flex;
    justify-content: center;
}

.author {
    width: 20%; 
    margin: 19px;
}

.content {
	position : relative;
	font-size: smaller;
}

main img{
	width : 200px;
	height : 300px;
}

.socials {
	width : 43px;
	height : 44px;
	background : url('../assets/images/sosmed.png') no-repeat;
	border-radius : 50%;
	cursor: pointer;
}

li.socials.github {
	background-position-x :-140.5px ;
	background-position-y : -260px;
}

li.socials.linkedin {
	background-position-x :-380.5px ;
	background-position-y : -20px;
}

li.socials.instagram {
	background-position-x :-200.5px ;
	background-position-y : -20px;
}

li.socials.github:hover {
	background-color : grey;
}

li.socials.linkedin:hover  {
	background-color : #0072b1;
}

li.socials.instagram:hover {
	background-color : #c13584;
}

@media all and (min-width:601px) and (max-width: 840px) {
	
    .Authors {
        max-width: 70%;
        margin: 0 auto;
    }

    .author {
        width: 34%;
        margin: 20px 30px;
    }
}

@media all and (max-width: 600px) {
    .Authors {
        max-width: 65%;
        margin: 0 auto;
    }

    .author {
        width: 45%;
        margin: 20px 35px;
    }
}