/*Start-Scrollbar*/
/* width */
#member-info::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
#member-info::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
   
/* Handle */
#member-info::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
  
/* Handle on hover */
#member-info::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/*End-Scrollbar*/


main {
    width: 80%;
    margin: auto;
}

#viewer {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 75vh;
    border: 1px solid white;
}

#photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: solid 1px purple;
}

#desc {
    display: flex;
    width: 50%;
    margin: 9%;
    border: solid 1px yellow;
    position: relative;
}

#mem-img {
    display: flex;
    /* height: 400px; */
    height: 26vw;
    border-radius: 20px;
}

video {
    width: 100%;
    opacity: 1;
    position: relative;
    z-index: 0;
}

#member-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    opacity: 0;
    overflow-y: scroll;
}

#member-info * {
    margin-left: 15px;
}


/*Arrow Start*/
#prev-img {
    width: 50px;
    position: relative;
}

#next-img {
    width: 50px;
    position: relative;
}

.arrow {
    cursor: pointer;
    position: relative;
    transition: transform .1s;
    height: 50px;
}
  
.arrow-top,
.arrow-bottom {
    top: 50%;
    background-color: #666;
    width: 100%;
    height: 3px;
    position: absolute;
}

.arrow-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}

.arrow-top:after,
.arrow-bottom:after {
    background-color: #fff;
    content: '';
    width: 0;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    transition-delay: 0.15s;
    transition: ease 0.5s;
}

.arrow:hover .arrow-top:after {
    width: 100%;
    background-color: white;
}

.arrow:hover .arrow-bottom:after {
    width: 100%;
    background-color: white;
}

.arrow:active {
    transform: scale(0.9);
}

.arrow-mirrored {
    transform: scaleX(-1);
}

.arrow-mirrored:active {
    transform: scaleX(-1) scale(0.9);
}

/*Arrow end*/


/*Button start*/
button {
    background-color: white;
    /* border-radius: 10px; */
    border-radius: 3px;
}

button:hover {
    background-color: black;
    color: white;
}

#member-arrow {
    width: 100%;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

#prev, #next {
    display: inline-block;
    margin: 10px;
}