main {
    max-width: 80%;
    margin: auto;
}

h2 {
    margin-bottom: -15px;
}

main ul li {
    line-height: 45px;
}

main ul li a {
    color: white;
    font-size: larger;
    position: relative;
}

main ul li a:before {
    content: '';
    transition: all 0.4s ease;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: -1;
    opacity: 0;
    background-color: #fff;
    width: 0px;
    height: 85%;
}

main ul li a:hover:before {
    z-index: -1;
    opacity: 1;
    width: 100%;
}

main ul li a:hover {
    color: rgb(69, 163, 221);
}

main ul li a:active {
    color: #fff;
}

main ul li a:active:before {
    background-color: rgb(69, 163, 221);
}